#discount-value {
    padding-top: 30px;
    font-size: 17px;
    font-weight: bold;
}

.form .row {
    margin: 20px 0;
}

.description-textarea {
    height: 100px !important;
}

.collection-image {
    max-height: 300px;
}

.orders-table ul {
    font-size: 13px;
}

#order-products {
    padding: 0;
    list-style-type: none;
}

#order-products strong {
    display: block;
}

#order-products span {
    display: block;
}

#order-products li {
    padding: 10px;
}

#order-products li:nth-child(2n+1) {
    background-color: #F5F5F5;
}

.order-info div {
    margin-bottom: 30px;
}

.order-info ul {
    list-style-type: none;
    padding: 0;
}

.order-info select {
    width: 150px;
    margin-top: 10px;
    display: inline-block;
}

.table-collections th:nth-child(3) {
    width: 420px;
}

.product-variant-row {
    padding: 10px;
}

.product-variant-row:nth-child(2n+1) {
    background-color: #f5f5f5;
}

#product-variants-title {
    display: inline-block;
}