@model OnlineStore.Web.ViewModels.Order.IndexViewModel
@{ 
    ViewBag.Title = "Поръчки";
}
<section class="body-container" id="order-history">
    <h1>Поръчки</h1>
    <ul>
        @foreach (var order in Model.Orders)
        {
            <li>
                <a href="@Url.Action("Details", "Order", new { id = order.Id })">Поръчка #@order.Id</a>
            </li>
        }
    </ul>
</section>