@model OnlineStore.Web.Areas.Cart.ViewModels.Cart.PreviewViewModel

<div id="cart-container">
    <a href="#disabled" class="colorbox-close">X</a>
    <h1>Кошница</h1>
    <div>
        Address
    </div>
    <div>
        <a href="#disabled" class="cart-next">Потвърждение &gt;&gt;</a>
    </div>
</div>
